@font-face {
  font-family: "iconfont"; /* Project id 5173959 */
  src: url('iconfont.woff2?t=1778243960197') format('woff2'),
       url('iconfont.woff?t=1778243960197') format('woff'),
       url('iconfont.ttf?t=1778243960197') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rr:before {
  content: "\e70d";
}

.icon-ll:before {
  content: "\e70e";
}

